@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



#f_background {
    width: 700px;
    height: 550px;
    background: radial-gradient(circle at var(--x) var(--y), #418DA3 0%, #26418C 100%);
    overflow: hidden;
    position: absolute;
    //transform: translate(50%, 0%);
    //right: 50%;

    ::-webkit-scrollbar{width: 4px;}
    ::-webkit-scrollbar-track{background: transparent;}
    ::-webkit-scrollbar-thumb{background: #00FF77;  border-radius: 30px;}
    ::-webkit-slider-thumb:hover{background: #33A2E3;}
    ::-webkit-scrollbar-corner{background: none;}
}

#f_index {
    pointer-events: none;
    position: absolute;
    transform: translate(133.3px, 30px);
    display: grid;
    place-items: center;
    width: 433px;
    height: 79px;
    background: linear-gradient(#33A2E3 1%, #275685 4%, transparent 50%, #275685 96%, #33A2E3 100%);
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    //Biografia
    //width: 700px;
    //height: 80px;
    //transform: translate(0px, 0px);
    
    .i_status{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 42px;
        font-weight: bold;
        color: white;
        transform: scaleX(0.75);
        text-shadow: 0px 0px 10px #000000;

        display: initial;
    }
       
    // width: 700px; e remover transform
    .i_name{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 37px;
        font-weight: bold;
        color: #00FF77;
        text-shadow: 1px 2px 10px #00FF6D;
        transform: scaleX(0.75);
        position: relative;
        top: 5px;

        display: none;
    }
    .i_bio{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 33px;
        font-weight: bold;
        color: white;
        transform: scaleX(0.75);
        text-shadow: 0px 0px 10px #000000;   
        position: relative;
        bottom: 5px;   

        display: none;
    }

    .i_classe{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 42px;
        font-weight: bold;
        color: white;
        transform: scaleX(0.75);
        text-shadow: 0px 0px 10px #000000;

        display: none;
    }

    .i_inventory{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 42px;
        font-weight: bold;
        color: white;
        transform: scaleX(0.75);
        text-shadow: 0px 0px 10px #000000;

        display: none;
    }
}

#f_sub{
    position: absolute;
    transform: translate(117px, 148px);
    width: 136px;
    height: 42;
    white-space: nowrap;
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    opacity: 1;

    .s_name{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #00FF77;
        transform: scaleX(0.75);
        text-shadow: 0px 0px 10px #00FF6D;
        display: grid;
        place-content: center;
        
    }

    .s_title{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #79CDFF;
        transform: scaleX(0.75);
        text-shadow: 1px 2px 10px #00FF6D;
        display: grid;
        place-content: center;
    }
}

#f_pp{
    width: 170px;
    height: 300px;
    background-color: #151727;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #33A2E3;
    position: absolute;
    transform: translate(99px, 198.5px);
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    // Biografia
    //width: 238px;
    //height: 422.96px;
    //transform: translate(0px, 79px);

    // classe
    //height: 216px;
    // inventório
    //width: 252px;
    //height: 444px;
    //transform: translate(133px, 79px);
}

#sheet3, #sheet2, #sheet1{
    background: #151727;
    border: 2px solid #33A2E3;
    position: absolute;
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

#sheet3{
    width: 239.68px;
    height: 208.89px;
    transform: translate(-245px, 295px);
    opacity: 0;
    pointer-events: none;

    //classe
    //transform: translate( 0px, 295px);
    //opacity: 1;
}

#sheet2{
    width: 344.47px;
    height: 219.96px;
    transform: translate(350px, 134px);
    opacity: 0;
    pointer-events: none;

    //biografia
    //width: 456px;
    //height: 214.96px;
    //transform: translate(239.68px, 287px);
    //opacity: 1;

    //classe
    //width: 228.32px;
    //height: 424.89px;
    //transform: translate(468.68px, 79px);
    //opacity: 1;
}

#sheet1{
    width: 319px;
    height: 366px;
    transform: translate(356px, 134px);
    opacity: 1;

    //biografia
    //width: 456px;
    //height: 210.96px;
    //transform: translate(239.68px, 79px);

    //classe
    //width: 228.32px;
    //height: 424.89px;
    //transform: translate(239.68px, 79px);

    //inventório
    //width: 342px;
    //height: 444px;
    //transform: translate(354px, 79px);
}

.equip{
    width: 66px;
    height: 66px;
    background-color: #151727;
    border: 1px solid #33A2E3;
    position: absolute;
    background-size: 100% 100%;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    opacity: 1;
    overflow: visible;
    //width: 88px;
    //height: 88px;
    /////
    //opacity: 0;
    //pointer-events: none;

    &:hover + .i_detail{
        opacity: 0.9;
    }
}

#f_helm{
    background-image: url("https://i.imgur.com/r3z1zor.png");
    transform: translate(25px, 134px);
    //inventory
    //transform: translate(0px, 80px);
}

#f_armor{
    background-image: url("https://i.imgur.com/aF8RD96.png");
    transform: translate(25px, 209px);
    //inventory
    //transform: translate(0px, 168px);
}

#f_gauntlet{
    background-image: url("https://i.imgur.com/hs3ESVc.png");
    transform: translate(25px, 284px);
    //inventory
    //transform: translate(0px, 258px);
}

#f_weapon1{
    background-image: url("https://i.imgur.com/DcuYqSZ.png");
    transform: translate(25px, 359px);
    //inventory
    //transform: translate(0px, 346px);
}

#f_boots{
    background-image: url("https://i.imgur.com/MecJnIG.png");
    transform: translate(25px, 434px);
    //inventory
    //transform: translate(0px, 436px);
}

#f_neck{
    background-image: url("https://i.imgur.com/SN7ihhX.png");
    transform: translate(279px, 134px);
    //inventory
    //transform: translate(90px, 80px);
}

#f_cape{
    background-image: url("https://i.imgur.com/6MHYP8y.png");
    transform: translate(279px, 209px);
    //inventory
    //transform: translate(90px, 168px);
}

#f_ring{
    background-image: url("https://i.imgur.com/6Usvc0R.png");
    transform: translate(279px, 284px);
    //inventory
    //transform: translate(90px, 258px);
}

#f_weapon2{
    background-image: url("https://i.imgur.com/DcuYqSZ.png");
    transform: translate(279px, 359px);
    //inventory
    //transform: translate(90px, 346px);
}

#f_acessory{
    background-image: url("https://i.imgur.com/QEJ2FEZ.png");
    transform: translate(279px, 434px);
    //inventory
    //transform: translate(90px, 436px);
}

#f_info{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    white-space: nowrap;
    text-align: left;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    opacity: 1;
    pointer-events: none;

        .i_name{
            position: absolute;
            left: 366px;
            top: 140px;
            transform: scaleX(0.75);
            //bio
            //left: 254px;
            //top: 300px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_name2{
            position: absolute;
            left: 410px;
            top: 140px;
            transform: scaleX(0.75);
            color: #00FF77;
            //bio
            //left: 299px;
            //top: 300px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_rank{
            position: absolute;
            left: 597px;
            top: 140px;
            transform: scaleX(0.75);
            //bio
            //opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_rank2{
            position: absolute;
            left: 644px;
            top: 140px;
            transform: scaleX(0.75);
            color: #FFDD00;
            //bio
            //opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_title{
            position: absolute;
            left: 364px;
            top: 169px;
            transform: scaleX(0.75);
            //bio
            //left: 470px;
            //top: 300px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_title2{
            position: absolute;
            left: 414px;
            top: 169px;
            transform: scaleX(0.75);
            color: #79CDFF;
            //bio
            //left: 520px;
            //top: 300px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_class{
            position: absolute;
            left: 364px;
            top: 198px;
            transform: scaleX(0.75);
            //bio
            //opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_class2{
            position: absolute;
            left: 418px;
            top: 198px;
            transform: scaleX(0.75);
            //bio
            //opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_gender{
            position: absolute;
            left: 364px;
            top: 227px;
            transform: scaleX(0.75);
            //bio
            //left: 251px;
            //top: 329px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_gender2{
            position: absolute;
            left: 420px;
            top: 227px;
            transform: scaleX(0.75);
            //bio
            //left: 310px;
            //top: 329px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_age{
            position: absolute;
            left: 367.5px;
            top: 256px;
            transform: scaleX(0.75);
            //bio
            //left: 254px;
            //top: 358px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_age2{
            position: absolute;
            left: 412px;
            top: 256px;
            transform: scaleX(0.75);
            //bio
            //left: 300px;
            //top: 358px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_altura{
            position: absolute;
            left: 365px;
            top: 285px;
            transform: scaleX(0.75);
            //bio
            //left: 252px;
            //top: 387px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_altura2{
            position: absolute;
            left: 425px;
            top: 285px;
            transform: scaleX(0.75);
            //bio
            //left: 315px;
            //top: 387px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_peso{
            position: absolute;
            left: 368px;
            top: 314px;
            transform: scaleX(0.75);
            //bio
            //left: 254px;
            //top: 416px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_peso2{
            position: absolute;
            left: 412px;
            top: 314px;
            transform: scaleX(0.75);
            //bio
            //left: 298px;
            //top: 416px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_sangue{
            position: absolute;
            left: 498px;
            top: 314px;
            transform: scaleX(0.75);
            //bio
            //left: 243px;
            //top: 445px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_sangue2{
            position: absolute;
            left: 631px;
            top: 314px;
            transform: scaleX(0.75);
            //bio
            //left: 375px;
            //top: 445px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_location{
            position: absolute;
            left: 360px;
            top: 442px;
            transform: scaleX(0.75);
            //bio
            //left: 463px;
            //top: 329px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_location2{
            position: absolute;
            left: 468px;
            top: 442px;
            transform: scaleX(0.75);
            //bio
            //left: 565px;
            //top: 329px;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_gold{
            position: absolute;
            left: 371px;
            top: 464px;
            transform: scaleX(0.75);
            font-size: 27px;
            //bio
            //opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_gold2{
            position: absolute;
            left: 404px;
            top: 470px;
            transform: scaleX(0.75);
            color: #00FF77;
            //bio
            //opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_origem{
            position: absolute;
            transform: scaleX(0.75);
            left: 469px;
            top: 358px;
            //status
            opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }

        .i_origem2{
            position: absolute;
            transform: scaleX(0.75);
            left: 526px;
            top: 358px;
            //status
            opacity: 0;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;        
        }
}

.f_line1{
    width: 302px;
    height: 1px;
    background: white;
    position: absolute;
    transform: translate(364.6px, 334px);
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    //bio
    //opacity: 0;
}

.f_line2{
    width: 302px;
    height: 1px;
    background: white;
    position: absolute;
    transform: translate(364.6px, 428px);
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    //bio
    //opacity: 0;
}

#f_build{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    white-space: nowrap;
    text-align: left;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 1;
    //bio e inventário
    //opacity: 0;
    
    .b_str{
        position: absolute;
        left: 367px;
        top: 350px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 5px;
        //top: 307px;
    }

    .b_str2{
        position: absolute;
        left: 425px;
        top: 350px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 64px;
        //top: 307px;
    }

    .b_int{
        position: absolute;
        left: 500px;
        top: 350px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: -3px;
        //top: 394px;
    }

    .b_int2{
        position: absolute;
        left: 610px;
        top: 350px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //class
        //left: 109px;
        //top: 394px;
    }

    .b_dex{
        position: absolute;
        left: 363px;
        top: 379px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 0px;
        //top: 336px;
    }

    .b_dex2{
        position: absolute;
        left: 449px;
        top: 379px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 87px;
        //top: 336px;
    }

    .b_sab{
        position: absolute;
        left: 504px;
        top: 379px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 1px;
        //top: 423px;
    }

    .b_sab2{
        position: absolute;
        left: 585px;
        top: 379px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 84px;
        //top: 423px;
    }

    .b_vit{
        position: absolute;
        left: 362px;
        top: 408px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 0px;
        //top: 365px;
    }

    .b_vit2{
        position: absolute;
        left: 457px;
        top: 408px;
        transform: scaleX(0.75);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //left: 90px;
        //top: 365px;
    }

    #b_stat{
        position: absolute;
        transform: translate(585px, 442px);
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        //classe
        //transform: translate(150px, 446px);

        br{display: initial !important;}

        .hp{
            float: left;
            margin-right: 5px;
        }

        .hp2{
            margin-bottom: -9px;
            color: #EF2D2D;
        }

        .f_line3{
            height: 1px;
            background: white; 
            width: 80.5px;
        }

        .mp{
            float: left;
            margin-right: 5px;
            margin-top: -9px;
        }

        .mp2{
            margin-top: -9px;
            color: #79CDFF;
        }

        br{
            display: visible;
        }
    }
}

#bio_text{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-align: justify;
    color: #00FF77;
    white-space: pre-wrap;
    width: 430px;
    height: 152px;
    position: absolute;
    transform: translate(254px, 97px);
    overflow-y: scroll;
    padding-right: 8px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    ///////////////////////////
    opacity: 0;
    pointer-events: none;
}

.aparencia{opacity: 1; br{display: initial !important;}}
.personalidade{opacity: 0; br{display: initial !important;}}
.historia{opacity: 0; br{display: initial !important;}}

#f_grupo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    transform: translate(250px, 300px);
    white-space: nowrap;
    text-align: left;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0;

    br{display: initial !important;}
    .g_af{float: left; transform: scaleX(0.75);}
    .g_af2{transform: scaleX(0.75); margin-bottom: 4px; color: #33A2E3;}
    .g_cargo{float: left; transform: scaleX(0.75); position: relative; left: 4px;}
    .g_cargo2{transform: scaleX(0.75); margin-bottom: 4px;}
    .g_mc{float: left; transform: scaleX(0.75); position: relative; left: -11px;}
    .g_mc2{transform: scaleX(0.75); margin-bottom: 4px;}
    .g_mf{float: left; transform: scaleX(0.75); position: relative; left: -13px;}
    .g_mf2{transform: scaleX(0.75); margin-bottom: 4px;}
    .g_salary{float: left; transform: scaleX(0.75); position: relative; left: 4px;}
    .g_salary2{transform: scaleX(0.75); color: #00FF77}
}

#f_popularidade{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    transform: translate(250px, 300px);
    white-space: nowrap;
    text-align: left;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0;

    br{display: initial !important;}
    .p_grau{float: left; transform: scaleX(0.75); position:  relative; left: -15px; margin-right: -15px;}
    .p_grau2{transform: scaleX(0.75);}
    .p_pontos{float: left; transform: scaleX(0.75); position:  relative; left: -18px; margin-right: -15px;}
    .p_pontos2{transform: scaleX(0.75);}
    .p_portais{float: left; transform: scaleX(0.75); position:  relative; left: -22px; margin-right: -15px;}
    .p_portais2{transform: scaleX(0.75);}
}

#f_rel{
    width: 442px;
    height: 170px;
    position: absolute;
    transform: translate(249px, 300px);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: white;
    white-space: pre-wrap;
    text-align: justify;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0;

    .r_player{
        width: 210px;
        height: 170px;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow-y: scroll;
        pointer-events: auto !important;
        padding-right: 8px;
        br{display: initial !important;}
    }
    .r_npc{
        width: 210px;
        height: 170px;
        position: absolute;
        top: 0px;
        right: 0px;
        overflow-y: scroll;        
        pointer-events: auto !important;
        br{display: initial !important;}
    }

    h3{
        position: relative;
        top: -15px;
    }

    hr{
        position: absolute;
        top: -8px;
        left: 218px;
        background-color: white;
        width: 2px;
        height: 168px;
    }
}

#f_detalhes{
    width: 228.32px;
    height: 424.89px;
    transform: translate(250px, 79px);
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: white;
    white-space: pre-wrap;
    text-align: justify;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0;

    br{display: initial !important;}
    .classe{
        float: left;
        margin-right: -10px;
    }
    .classe2{
        float: right;
        position: relative;
        right: 100px;
        color: #FFDD00;
    }
    .sub{
        float: left;
        position: relative;
        top: 16px;

    }
    .sub2{
        float: right;
        position: relative;
        right: 68px;
        top: 16px;
        color: #00FF6D;
    }
    .lvl{
        float: left;
        position: relative;
        top: 32px;
        margin-right: -20px;
    }
    .lvl2{
        float: right;
        position: relative;
        right: 25px;
        top: 32px;
    }    
}

#f_maestrias{
    width: 218px;
    height: 400px;
    transform: translate(250px, 90px);
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: white;
    white-space: pre-line;
    text-align: justify;
    line-height: 200%;
    font-size: 20px;
    overflow: scroll;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0;
    ////
    //pointer-events: auto !important;
    br{display: initial !important;}
}

#ativas{
    width: 440px;
    height: 424.89px;
    padding-right: 18.5px;
    position: absolute;
    transform: translate(240px, 80px);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    white-space: pre-line;
    text-align: justify;
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0;
    ////////////////
    //pointer-events: auto !important;

    img{
        float: left;
        margin: 5px;
        margin-right: 15px;
        margin-top: -15px;
        margin-left: -15px;
        width: 50px;
        height: 50px;
        transform: scaleX(1.25);
    }
    .skill{
        transform: translate(210px, 30px) scaleX(0.75);
        font-size: 20px;
        color: #79CDFF;
        margin-bottom: -10px;
    }

    .skill:hover + .description{
        opacity: 1;
    }

    .description{
        position: absolute;
        width: 207px;
        height: 402px;
        top: 0px;
        left: 0px;;
        color: white;
        background: #151727;
        border: 2px solid #33A2E3;
        pointer-events: none;
        opacity: 0;
        padding: 10px;
        white-space: pre-line;
        transition-duration: 0.2s;
    }
    f{
        color: #00FF6D;
    }

    br{display: initial !important;}
}

#passivas{
    width: 440px;
    height: 424.89px;
    padding-right: 18.5px;
    position: absolute;
    transform: translate(240px, 80px);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    white-space: pre-line;
    text-align: justify;
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    opacity: 0;
    //pointer-events: auto !important;


    img{
        float: left;
        margin: 5px;
        margin-right: 15px;
        margin-top: -15px;
        margin-left: -15px;
        width: 50px;
        height: 50px;
        transform: scaleX(1.25);
    }
    .skill{
        transform: translate(210px, 30px) scaleX(0.75);
        color: #79CDFF;
        margin-bottom: -10px;
        font-size: 20px;
    }

    .skill:hover + .description{
        opacity: 1;
    }

    .description{
        position: absolute;
        width: 207px;
        height: 402px;
        top: 0px;
        left: 0px;;
        color: white;
        background: #151727;
        border: 2px solid #33A2E3;
        pointer-events: none;
        opacity: 0;
        padding: 10px;
        white-space: pre-line;
        transition-duration: 0.2s;
    }

    f{
        color: #00FF6D;
    }

    br{display: initial !important;}
}

#f_bag{
    width: 317px;
    height: 374px;;
    position: absolute;
    transform: translate(368.5px, 139px);
    padding-right: 2px;
    background-color: #161C31;
    border: 2px solid #00FF77;
    background-size: 62px 62px;
    background-image:
    linear-gradient(to right, #00FF77 3px, transparent 1px),
    linear-gradient(to bottom, #00FF77 3px, transparent 2px);
    overflow-y: scroll;
    overflow-x: visible;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    //////
    opacity: 0;
    pointer-events: none;

   .b_position{
       position: absolute;
       top: 1px;
       left: 5px;;
       overflow: visible;
   }
    .b_item{
        width: 56px;
        height: 56px;
        background-size: 100% 100%;
        position: relative;
        margin-right: 6px;
        margin-bottom: -3px;
        float: left;
        border: 3px solid #00FF6D;
        border-right: none;
        border-left: none;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
    }

    .b_item:active + .b_detail{
        display: initial;
    }

    .b_detail{
        height: 362px;
        width: 300px;
        background-color: #161C31;
        position: absolute;
        top: 2px;
        left: -3px;
        padding-left: 8px;
        padding-top: 8px;
        z-index: 2;
        overflow-y: scroll;
        overflow-x: hidden;
        display: none;
        white-space: pre-line;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        color: white;
        text-align: justify;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;

        &:hover{
            display: initial;
        }

        img{
            margin-bottom: 16px;
            width: 100px;
            height: auto;
            position: relative;
            left: 192px;;
        }

        f{
            color: #00FF6D;
        }

        br{display: initial !important;}
    }
}

.financeiro{
    width: 418px;
    height: 170px;
    padding-left: 8px;
    position: absolute;
    transform: translate(310px, 120px) scaleX(0.75);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    white-space: pre-line;
    text-align: justify;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0;

    hr{
        height: 1px;
        background: white;
        margin-top: -10px;
        margin-bottom: -20px;
    }

    r{
        color: #00FF77;
        font-size: 18px;
        position: relative;
        left: 275px;;
    }
    r2{
        color: #00FF77;
    }

    br{display: initial !important;}
}

.i_detail{ //itens hover
    width: 170px;
    height: 300px;
    background-color: #151727;
    position: absolute;
    left: 101px;
    top: 200px;
    opacity: 0;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    //Inventory
    //left: 214px;
    //top: 89.5px;
    //////////////
    //opacity: 0;
    pointer-events: none;

    .d_top{
        background: #275685;
        width: 96%;
        height: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        text-align: justify;
        color: white;
        font-weight: bold;
        padding-right: 2%;
        padding-left: 2%;

        .d_f{
            transform: scaleX(0.75) translateX(-25px);
            white-space: pre-line;

            f{
                font-size: 15px;
                position: relative;
                top: -10px;
            }

            f2{
                font-size: 15px;
                position: absolute !important;
                top: 10px;
                left: 130px;
                color: #FFDD00;
                white-space: nowrap;
            }
            ff{
                color: #00FF6D;
            }
            br{display: initial !important;}
        }

        .d_s{
            font-size: 35px;
            br{display: initial !important;}

            f{
                color: #FFDD00;
                position: absolute;
                left: 5px;
                top: 40px;
            }
            f2{
                color: #EF2D2D;
                position: absolute;
                right: 5px;
                top: 40px;
            }
            hr{
                position: absolute;
                left: 50%;
                top: 31px;
                background: white;
                height: 40px;
            }
            f3{
                font-size: 15px;
                text-align: right;
                position: absolute;
                right: 98px;
                top: 75px;
            }
            f4{
                font-size: 15px;
                text-align: right;
                position: absolute;
                right: 7px;
                top: 75px;
            }
        }
    }
    .d_line{
        background: white;
        position: relative;
        top: 48px;
        height: 0.5px;
    }
    .d_line2{
        background: white;
        position: relative;
        top: 115px;
        height: 0.5px;
    }
    .d_condition{
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        text-align: justify;
        color: white;
        font-weight: bold;
        white-space: pre-line;
        top: 82px;
        left: 5px;

        br{display: initial !important;}

        f{
            position: absolute;
            left: 100px;
            font-size: 15px;
        }
    }
    .d_effect{
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        text-align: justify;
        color: white;
        font-weight: bold;
        white-space: pre-line;
        top: 160px;
        left: 5px;

        br{display: initial !important;}

        f{
            position: absolute;
            left: 100px;
            font-size: 15px;
        }
    }
    .d_name{
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 12px;
        text-align: justify;
        color: white;
        font-weight: bold;
        bottom: 5px;
        left: 5px;
        color: #00FF6D;
    }
}

.b_button{
    width: 140px;
    height: 26.8px;
    background: #161B31;
    border: none;
    outline: none;
    padding: 0px;
    margin-right: -13px;
    margin-left: -13px;
    color: #3989A1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);

    div{transform: scaleX(0.75);}
}

#b_main{
    position: absolute;
    bottom: 0px;
    left: 13px;

    #b_status{
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);    
        width: 243px;
        background: transparent;
        color: #00FF77;
        text-align: right;
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
    }
    #b_inventory{
        width: 243px;
        -webkit-clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);    
        text-align: left;
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
    }
}

#b_bio1{
    position: absolute;
    right: 16px;
    top: 265px;
    ///////////////////
    opacity: 0;
    pointer-events: none;

    .b_button{
        width: 166.3px;
        -webkit-clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(13% 0, 100% 0, 87% 100%, 0% 100%);    
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
    }

    #b_aparencia{
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
        background: transparent;
        color: #00FF77;
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
    }

    #b_historia{
        -webkit-clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);    
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
    }
}

#b_bio2{
    position: absolute;
    right: 16px;
    top: 477px;
    pointer-events: auto;
    ///////////////////
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    .b_button{
        width: 130.35px;
    }
     #b_info{
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        background: transparent;
        color: #00FF77;
     }
     #b_rel{
        -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
     }
}

#b_class1{
    position: absolute;
    right: 244px;
    top: 479.1px;
    pointer-events: auto;
    ///////////////////
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    .b_button{
        width: 124.5px;
    }

    #b_detalhes{
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        background: transparent;
        color: #00FF77;
    }
    #b_maestrias{
        -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

#b_class2{
    position: absolute;
    right: 14.5px;
    top: 81.5px;
    pointer-events: auto;
    ///////////////////
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    .b_button{
        width: 124.1px;
    }

    #b_ativa{
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        background: transparent;
        color: #00FF77;
    }
    #b_passiva{
        -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

#b_inventario{
    position: absolute;
    right: 15px;
    top: 81.3px;
    ///////////////////
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    .b_button{
        width: 181.5px;
    }

    #b_itens{
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
        background: transparent;
        color: #00FF77;
    }
    #b_financeiro{
        -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
    }
}