@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.templateRavel{
    width: auto;
    margin: auto;
    position: relative;
    display: flex;
    //flex-wrap: wrap;
    justify-content: right;
    gap: 0px 10px;

    .t_text{
        width: 450px;
        height: auto;
        padding: 20px;
        margin: auto;
        text-align: justify;
        font-family: 'EB Garamond', serif;
        font-size: 16px;
        background-color: var(--fundo);
        color: var(--letra); 

        f{
            font-weight: bold;
            color: var(--fcolor);
        }

        hr{
            width: 20px;
            display: inline-block;
            opacity: 0;
        }
    }

    .t_top{
        background-color: #fff8e8;
        width: 490px;
        height: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)), var(--capa);
        background-size: cover;
        background-position: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        display: flex;

        p{
            font-family: 'Imperial Script', cursive;
            font-size: 30px;
            text-align: center;
            word-spacing: 5px;
            color: white;
            box-sizing: border-box;
            min-width: 60%;
            max-width: 70%;
            padding: 2px;
            border: solid 2px white;
            backdrop-filter: blur(2px) brightness(0.8) ;
            margin: auto;
        }
    }

    .t_f{order: 1;}

    .t_f::after{
        display: inline-block;
        width: 490px;
        height: 50px;
        content:"";
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-image: var(--rodape);
        background-size: cover;
        background-position-y: center;
    }

    .t_historico{
        order: 2;
        //height: 200px;
        pointer-events: none;

        .t_content{
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 20px;
            background-color: #3e83a3;
            box-sizing: border-box;
            transition: 0.5s;
            transition-delay: 0.2s;
            cursor: pointer;
            background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), var(--historico);
            background-size: cover;
            background-position: center;
            overflow: visible;
            display: flex;
            flex-direction: row-reverse;
            pointer-events: initial;

            .hclose{
                position: absolute;
                left: 15px;
                top: 10px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 900;
                color: white;
                font-size: 20px;
                cursor: pointer;
                pointer-events: initial;
                &:hover{color: var(--fcolor);}
                opacity: 0;
                transition: 0.5s;
            }
        }

        .etiq{
            width: 100%;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            padding-top: 10px;
            padding-bottom: 10px;
            opacity: 100;
            transition-duration: 0.5s;
            transition-delay: 0.2s;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 1px;
            font-size: 17px;
            position: absolute;
            top: 41.5%;
            left: 0;
        }

        .miniH{
            width: 100px;
            min-height: 200px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            //background-color: #3e83a3;
            background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), var(--rodape);
            background-size: cover;
            transition-duration: 0.5s;
            opacity: 0;
            pointer-events: initial;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            div{
                position: absolute;
                text-align: center;
                width: 100%;
            }
            .n_post{
                top: 10px;
                font-size: 40px;
                font-weight: bold;
            }
            .p_post{
                font-size: 12px;
                top: 50px;
            }
            .h_hp, .h_st{
                font-size: 13px;
                font-weight: bold;
                top: 80px;
                width: 80%;
                margin-left: 10%;
                padding-top: 5px;
                padding-bottom: 5px;
                background-color: rgb(173, 54, 54);
                border-radius: 10px;
            }
            .h_st{
                top: 115px;
                background-color: rgb(211, 122, 49);
            }
            .h_berrie{
                top: 175px;
                font-size: 14px;
            }
            .v_berries{
                top: 150px;
                border-top: 1px solid white;
                width: 90%;
                margin-left: 5%;
                padding-top: 5px;
            }
        }

        .hNome{
            position: absolute;
            top: 8px;
            left: 30px;
            width: calc(100% - 130px);
            text-align: center;
            font-family: 'EB Garamond', serif;
            color: white;
            font-weight: bold;
            font-size: 25px;
            white-space: nowrap;
            opacity: 0;
            transition: 0.5s;
        }

        .hContent{
            width: calc(95% - 100px);
            margin-right: 2%;
            box-sizing: border-box;
            height: 130px;
            //background-color: #3e83a3;
            margin-top: 50px;
            transition-duration: 0.5s;
            opacity: 0;
            white-space: pre-line;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 25px;
            overflow: visible;

        }
        
        .hMenu{
            position: absolute;
            width: 280px;
            bottom: 55px;
            left: 0;
            box-sizing: border-box;
            display: flex;
            justify-content: space-around;
            transition-duration: 0.5s;
            opacity: 0;
            pointer-events: none;

            img{
                width: 60px;
                height: 60px;
                cursor: pointer;
                pointer-events: none;
                filter: invert(100%);
            }

            .hMC{
                box-sizing: border-box;
                position: absolute;
                top: 130px;
                left: 0px;
                color: white;
                width: 380px;
                height: auto;
                border: 4px var(--fcolor) solid;
                //background-color: var(--fundo);
                border-radius: 20px;
                padding: 20px;
                transform: translate(-150px,-100px);
                transition: 0.5s;
                transition-delay: 0.2s;
                white-space: pre-line;
                font-family: Arial, Helvetica, sans-serif;
                background: linear-gradient(rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.8)), var(--historico);
                background-size: cover;
                background-position: 0px -390px;
                display: none;
            }

            .hMT{
                position: absolute;
                width: 100%;
                left: 0;
                bottom: -45px;
                text-align: center;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 25px;
                display: none;
            }

            input:checked ~ img{filter: var(--filtro);}
            input:checked ~ .hMT, input:checked ~ .hMC{display: initial;}
        }

        input{display: none;}
        input[type=checkbox]:checked ~ .t_content{
            width: 380px;
            background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), var(--historico);
            background-size: cover;
            background-position: center;
            cursor: auto;
            pointer-events: none;
            transition-delay: 0s;

            .etiq{opacity: 0; transition-delay: 0s;}
            .miniH, .hNome, .hclose, .hMenu{opacity: 100; transition-delay: 0.1s;}
            .hMenu{transition-delay: 0.2s;}
            .hMenu img{pointer-events: initial;}
            .hMC{transform: translate(0px,0px); transition-delay: 0s;}
        }
    }

    &.rael{
        --capa: url(https://i.imgur.com/xqpd95O.jpg?1);
        --rodape: url(https://cdn.discordapp.com/attachments/831036221098295337/924821822493556776/EwoCRrOWgAAQrRM.png);
        --historico: url(https://i.pinimg.com/564x/4b/cd/23/4bcd23a2421d87bf331c0799fafd6542.jpg);
        --fundo: #fdf4df;
        --letra: #000;
        --fcolor: #3e83a3;
        --filtro: invert(48%) sepia(32%) saturate(727%) hue-rotate(154deg) brightness(90%) contrast(91%);
    }

    &.lucy{
        --capa: url(https://cdn.donmai.us/sample/62/1a/sample-621ac58cc348342e6b08e92cc953e5d5.jpg);
        --rodape: url(https://cdn.discordapp.com/attachments/807064384605519904/958557226396713022/latest.png);
        --historico: url(https://cdn.discordapp.com/attachments/937414824122540045/958558657908441118/de1.png);
        --fundo: #1a1a1a;
        --letra: #fff;
        --fcolor: #EEB871;
        --filtro: invert(91%) sepia(52%) saturate(3547%) hue-rotate(307deg) brightness(101%) contrast(87%);

        .t_top{background-position: 0px -140px;}

        .t_historico input[type=checkbox]:checked ~ .t_content{
            background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), var(--historico);
            background-size: cover;
            background-position: top;

            .hMC{
                background-position: 0px -210px;
            }
        }
    }

    &.ravena{
        --capa: url(https://static.zerochan.net/Queen.%28Persona.5%29.full.3086631.jpg);
        --rodape: url(https://cdn.discordapp.com/attachments/807064384605519904/958564587001741342/latest.png);
        --historico: url(https://i.imgur.com/3krirZO.png);
        --fundo: #1a1a1a;
        --letra: #fff;
        --fcolor: #be5767;
        --filtro: invert(42%) sepia(14%) saturate(2029%) hue-rotate(301deg) brightness(98%) contrast(88%);

        .t_top{background-position: 0px -130px}
    }

    &.snow{
        --capa: url(https://i.pinimg.com/564x/cc/12/7f/cc127f1a401d4b94f7e0a06612fe7807.jpg);
        --rodape: url(https://cdn.discordapp.com/attachments/807064384605519904/958568271739756595/latest.png);
        --historico: url(https://i.pinimg.com/564x/5a/0a/a3/5a0aa3f0219adb8e6c3a573d862d9a06.jpg);
        --fundo: #1a1a1a;
        --letra: #fff;
        --fcolor: #67C8B1;
        --filtro: invert(75%) sepia(3%) saturate(5581%) hue-rotate(115deg) brightness(95%) contrast(88%);

        .t_top{background-position: 0px -80px}
    }

    &.yura{
        --capa: url(https://i.pinimg.com/564x/9e/a8/8c/9ea88cfdee24f051711737986b2671e8.jpg);
        --rodape: url(https://cdn.discordapp.com/attachments/807064384605519904/958570206119206992/latest.png);
        --historico: url(https://i.pinimg.com/564x/9b/47/8f/9b478fbc06e45633b715214002da46c7.jpg);
        --fundo: #1a1a1a;
        --letra: #fff;
        --fcolor: #da264d;
        --filtro: invert(31%) sepia(83%) saturate(6315%) hue-rotate(336deg) brightness(90%) contrast(88%);

        .t_content{background-position: 0px -20px;}

        .t_historico input[type=checkbox]:checked ~ .t_content{
            background: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), var(--historico);
            background-size: cover;
            background-position: 0px -100px;

            .hMC{
                background-position: 0px -310px;
            }
        }
    }
}

.webtoon{
    width: 450px;
    height: auto;
}
