@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jjjiel');
  src:  url('fonts/icomoon.eot?jjjiel#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jjjiel') format('truetype'),
    url('fonts/icomoon.woff?jjjiel') format('woff'),
    url('fonts/icomoon.svg?jjjiel#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-e900:before {
  content: "\e900";
}
.icon-e901:before {
  content: "\e901";
}
.icon-e902:before {
  content: "\e902";
}
.icon-e903:before {
  content: "\e903";
}
.icon-e904:before {
  content: "\e904";
}
.icon-e905:before {
  content: "\e905";
}
