@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&family=EB+Garamond:wght@400;500;700&display=swap");
.temp-main {
  width: 550px;
  position: relative;
  background-image: var(--fundo);
  background-position: bottom right;
  background-size: auto 100vh;
  background-attachment: fixed;
  margin: 60px auto;
  display: flex;
  flex-flow: column;
  box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.2823529412);
  box-sizing: border-box;
}
.temp-main * {
  transition: ease 0.3s;
  box-sizing: border-box;
}
.temp-main .f-post-banner {
  width: 500px;
  margin: 25px auto 0px;
  height: 180px;
  background-image: var(--capa);
  background-position: top center;
  background-size: cover;
  box-shadow: 0px 0px 5px #000;
  z-index: 20;
  position: relative;
}
.temp-main .f-post-banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 25%;
}
.temp-main .f-post-container {
  margin: 0 auto 25px;
  width: 500px;
  background-color: #060606;
  padding: 20px;
  color: #FFFFFF;
  text-align: justify;
  box-shadow: 0px 0px 5px #000;
  z-index: 20;
  white-space: pre-line;
  font-family: "EB Garamond", serif;
  font-size: 16px;
}
.temp-main .f-post-container f {
  color: var(--cor);
}
.temp-main .f-post-title {
  margin: auto;
  width: 500px;
  text-align: center;
  padding: 16px;
  position: relative;
  box-shadow: 0px 0px 5px #000;
}
.temp-main .f-post-title span {
  color: white;
  font-size: 24px;
  font-weight: 600;
  z-index: 30;
  position: relative;
  font-family: "Crimson Text", serif;
}
.temp-main .f-post-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 95%;
  z-index: 20;
}
.temp-main .f-p-menu {
  white-space: normal;
  position: relative;
  padding-top: 60px;
}
.temp-main .f-p-menu > ::before {
  content: "";
  display: block;
  width: 75%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #fff;
}
.temp-main .f-p-spoiler {
  width: 100%;
}
.temp-main .f-p-spoiler .f-p-container {
  color: #FFFFFF;
  white-space: pre-line;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  font-weight: normal;
  display: none;
  padding-top: 50px;
  cursor: initial;
}
.temp-main .f-p-spoiler .f-p-container span {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  font-family: "Crimson Text", serif;
  display: inline-block;
  width: 100%;
  color: var(--cor);
}
.temp-main .f-p-spoiler .f-p-button, .temp-main .f-p-spoiler .f-p-close {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  z-index: 30;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 40%;
  filter: invert(100%) sepia(2%) saturate(420%) hue-rotate(43deg) brightness(112%) contrast(79%);
}
.temp-main .f-p-spoiler .f-p-button:hover, .temp-main .f-p-spoiler .f-p-close:hover {
  opacity: 100%;
}
.temp-main .f-p-spoiler .f-p-button::before {
  content: var(--title);
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
  background-color: #e4e4e4;
  color: #000;
  opacity: 0;
  word-break: keep-all;
  font-weight: bold;
}
.temp-main .f-p-spoiler .f-p-button:hover::before {
  opacity: 100%;
  top: 110%;
}
.temp-main .f-p-spoiler:nth-child(1) {
  --title: "Histórico" ;
}
.temp-main .f-p-spoiler:nth-child(1) .f-p-button, .temp-main .f-p-spoiler:nth-child(1) .f-p-close {
  left: 20%;
  transform: translateX(-50%);
  background-image: url(https://remenuf.github.io/FichaRpg/Template/ddw/Scroll.svg);
}
.temp-main .f-p-spoiler:nth-child(2) {
  --title: "Armas" ;
}
.temp-main .f-p-spoiler:nth-child(2) .f-p-button, .temp-main .f-p-spoiler:nth-child(2) .f-p-close {
  left: 40%;
  transform: translateX(-50%);
  background-image: url(https://remenuf.github.io/FichaRpg/Template/ddw/Sword.svg);
}
.temp-main .f-p-spoiler:nth-child(3) {
  --title: "Armaduras" ;
}
.temp-main .f-p-spoiler:nth-child(3) .f-p-button, .temp-main .f-p-spoiler:nth-child(3) .f-p-close {
  right: 40%;
  transform: translateX(50%);
  background-image: url(https://remenuf.github.io/FichaRpg/Template/ddw/Armor.svg);
}
.temp-main .f-p-spoiler:nth-child(4) {
  --title: "Observações" ;
}
.temp-main .f-p-spoiler:nth-child(4) .f-p-button, .temp-main .f-p-spoiler:nth-child(4) .f-p-close {
  right: 20%;
  transform: translateX(50%);
  background-image: url(https://remenuf.github.io/FichaRpg/Template/ddw/Quill.svg);
}
.temp-main .f-p-spoiler .f-p-close {
  z-index: 40;
  display: none;
}
.temp-main .f-p-spoiler input {
  display: none;
}
.temp-main .f-p-spoiler input:checked ~ .f-p-container, .temp-main .f-p-spoiler input:checked ~ .f-p-close {
  display: block;
  opacity: 100%;
}

.brancor {
  filter: invert(var(--filtro));
  box-shadow: inset 0px 0px 6px #fff;
  background-image: var(--fundo);
}
.brancor .f-post-banner, .brancor .f-post-title, .brancor .f-post-container {
  filter: invert(var(--filtro));
}
.brancor .f-post-title span {
  color: #000;
  font-weight: 700;
}
.brancor .f-post-title::after {
  background-color: #dadada;
}
.brancor .f-post-container {
  background-color: #dadada;
  color: #000;
  font-weight: 500;
}
.brancor .f-post-container f {
  font-weight: 600;
}
.brancor .f-p-menu > ::before {
  background-color: #000;
}
.brancor .f-p-button, .brancor .f-p-close {
  filter: none !important;
}
.brancor .f-p-spoiler {
  width: 100%;
}
.brancor .f-p-spoiler .f-p-container {
  color: #000;
  font-weight: 500;
}
.brancor .f-p-spoiler .f-p-container span {
  font-weight: 700;
}
